.card-header-content {
  padding-left: 10px;
}

.card-metric-icon {
  position: relative;
  text-align: center;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.card-metric-icon .fa{
  position: absolute;
  height: 70px;
  width: 70px;
  line-height: 2em;
  font-size: 30px;
  text-align: center;
  top: 0;
  left: 0;
}

.card-metric-icon .fa:before {
  position: absolute;
  left: 20px;
  height: 30px;
  width: 30px;
  top: 20px;
  line-height: 30px;
}
#root .row {
  overflow: visible;
}